
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
     font-family: Avenir-Next,Roboto,sans-serif;

}

/*============ Navbar ==========*/
nav{
    background-color: #fff;
    width: 100%;
    overflow: hidden;
}
.logo{
    height: 50px;
    padding-top: 1em;
    padding-left: 1em;
}
nav ul{
    float: right;
    margin-right: 2em;
}
nav ul li{
    display: inline-block;
    padding-top: 1em;
    margin: 0 1em;
}
nav ul li a{
    color: #7f8c8d;
    font-size: 16px;
}
.apply_btn{
    font-size: 16px;
    background-color:#e65c00;
     color: #ffff;
     border:none;
     padding: 0.25em 3em 0.25em 3em;
     cursor: pointer;
}
.flag{
    height: 19px;
    position: relative;
    top: 4.9px;
    left:15px;
}


/*============ Heading with overlay==========*/
.header{
   padding-top: 1em;
   padding-bottom: 2em;
    /*------ colour overlay with background image-------*/ 
    background:linear-gradient(to right,rgba(5, 5, 12, 0.5),rgba(4, 4, 10, 0.7),rgba(0, 0, 0, 0.8)),url(images/top_bg.jpg);
    background-size: cover;
    color: #fff; 
}
.btn-group{
    padding-top: 1em;
    padding-left: 5em;
    
}
.apply_button {
    display:block;
    background-color:#4992ca;
    color:#fff;
    border:none;
    padding: 1em 3em 1em 3em;
    margin: 1em;
    cursor:pointer;
  }
  
  .schedule {
    display:block;
    height:60px;;
    background-color:#0000;
    color:#fff;
    border:2px solid #fff;
    padding: 1em 2em 1em 2em;
    margin: 1em;
    cursor:pointer;
    border-radius:2px;
  }
  
  .learnmore {
    border-radius:15px;
    text-decoration:none;
    margin-top: 1em;
    padding:1em;
    border: none;
    margin-left: 1em;
    cursor:pointer;
    
  }
  .main_heading{
    font-size:90px;
    padding-top: 1em;
    padding-left: 1em;
  }
  .main_content{
  
    padding-left:2em;
    margin-left: 1em;
    font-size:33px;
  }
  
/*============ Pocket monster==========*/

.pocket_monster{
    background-color:#4992ca;
    color:white;
}
.m_container{
    width:80%;
    margin: auto;
    text-align: center;

}
.pocket_monster_heading{
    padding-top: 1.5em;
}
.heading_monster{
    font-size:45px;
    padding-bottom: 0.7em;
}
.para2{
    padding-top: 1.5em;
    text-align: center;    
}
.icons{
    display:flex;
    justify-content:space-around;
    padding-top: 3em;
}
.m_icon{
    font-size:2rem;
}
.heading_monster1{
    padding-top: 2em;
    font-size:30px;
}
.p_monster{
    font-size:1rem;
    padding-right: 1em;
    padding-top:1em;
    line-height:25px;
}
.paraM_container{
    padding-bottom: 1em;
}


/*============ Statistic section ==========*/
.s_container{
    width:90%;
    margin: auto;
    text-align: center;
}
   
.parent_stat{
     display:flex; 
}
.s_content{
    padding-right:1em;
    
}
.head_stat{

    padding-bottom:1em;
    font-size: 30px;
}
.stats_mainheading{
    font-size:45px;
    padding-top:1em;
}
.s_content_img{
    padding-top:2em;
}


/*============ Pokemon of the year ==========*/
.pokemon_year{
    width: 80%;
    margin: auto;
}
.heading_poke{
    padding-top:1em;
    text-align: center;
    font-size:30px;
    padding-bottom: 1em;
}
.container_poke1{
    display:flex;
}
.img1{
    height:150px;
    width:150px;
    padding-right: 1em;
}
.logo1{
    height: 50px;
    padding-right: 2.3em;
}
.logo_heading{
    text-align: center;
    padding-right: 2.3em;
    
    
}
.container_poke1{
    padding-bottom: 2em;
    
}

#imgsp{
    height:150px;
    width:150px;
    padding-right:2.3em;
    padding-bottom: 1em;
}
/*============Q and A==========*/

.qustion{
    background-color:#4992ca;
    color:white;
}
.question_container{
    width:80%;
    margin:auto;
}
.q_heading{
    padding-top:1em;
    text-align:center;
    font-size:45px;
}
.sub_q_heading{
    padding-bottom:1em;
}
.q_list li{
    text-decoration: solid;
    list-style-type: circle;
    line-height: 25px;
}
.q_a_list{
    padding-left:6em;
    padding-bottom: 2em;
}
#q_a_list2{
    padding-bottom:4em;
}
/*============Pokemon battle ==========*/
.pokemon_battle{
    width:70%;
    margin:auto;
}
.pb_main{
    display: flex; 
}
.pb_head{
    text-align: center;
    padding-top:1em;
    font-size: 45px;
}
.pb_sub{
    text-align: center;
    padding-top:2em;
    padding-bottom: 1em;
}
.pb_content_heading{
    padding-bottom: 2em;
}
.pb_para_1{
    padding-bottom: 2em;
    line-height: 30px;
    color: #8a8a8a;
    font-size:16px;
}
.pb_para_2{
    line-height: 30px;
    color: #8a8a8a;
    font-size:16px;
}
.pb_content2{
    padding-top:1em;
    line-height: 20px;
}
.pb_content_main{
    padding-right:4em;
}

td,
th {
  text-align: center;
   border:1px solid #dddddd;
  padding:12px;
}
table{
  border-collapse:collapse;
}
td{
  color:#8a8a8a;
  padding:12px;
}
.btn_para{
    color:#4992ca;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
.btn_buycontainer{
    display: flex;
    justify-content: center;
}
.btn_buy{
    border:none;
    background-color: #4992ca;
    color:white;
    padding: 0.5em 3em 0.5em 3em;
    cursor:pointer;
}

/*============ Know more about ==========*/
.km_main{
    background-color: #424242;
    padding-top: 2em;
}
.know_more{
    padding-top: 1em;
}
.btn_ch{
    border:2px solid #fff;
    background-color:#0000;
    color:#fff;
    padding: 0.5em 5em 0.5em 5em;
    cursor:pointer;
    font-size:1rem;
    border-radius:2px;
}
.btn_km{
    color:#fff;
    text-align: center;
    padding-bottom: 0.5em;
    font-size:45px;
}
.btn_kmcontainer{
    display: flex;
    justify-content: center;
    padding-bottom:4em;
}
/*============ Pokemon Card ==========*/
.pc{
    width: 50%;
    margin: auto;
    padding-bottom:1em;
}
.pc_head{
    text-align: center;
}
.pc_heading{
    padding-top:1em;
    font-size:33px;
    color: #8a8a8a;
}

.pc_main{
    width: 220px;
    margin: auto;
    border-top: 1em solid #4992ca;
    
}
.pc_center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid#dddddd;
    background-color:#dddddd70;
}
.pc_bottom{
    padding:1em 0.5em 1em 0.5em;
    text-align: center;
    border: 1px solid #dddddd;
}
.pc_img_subheading{
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.pc_img_heading{
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}
.pc_para_heading{
    color: #7f8c8d;
}


/*============ Pokemon Trainer ==========*/

.pt_year{
    /* width: 80%;
    margin: auto; */
    padding-top:1em;
    background-color:#4992ca ;
    color:white;
}
.heading_pt{
    padding-top:1em;
    text-align: center;
    font-size:30px;
    padding-bottom: 1em;
}
.container_pt1{
    width: 60%;
    margin: auto;
    display:flex;
    
}
.img_pt1{
    height:150px;
    width:150px;
    padding-right: 1em;
}
.logo_pt1{
    height: 50px;
    padding-right: 2.3em;
}
.logo_heading_pt{
    text-align: center;
    padding-right: 2.3em;
    
}
.container_pt1{
    padding-bottom: 2em;
    
}

#img_ptsp{
    height:150px;
    width:150px;
    padding-right:2.3em;
    padding-bottom: 1em;
}

/*============ Cards Section ==========*/
 .gc_main{
    width: 70%;;
    margin: auto;
} 
.gc_heading{
    padding-top:1rem;
    padding-bottom:1rem;
}
.generations-cards{
    text-align: center;
    font-size:33px;
    color:#8a8a8a;
}
.card {
    width: 478px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 8px;
    line-height:24px;
  }
  
  .card-sub-heading {
    font-weight: 200;
    height: 45px;
    color: #3c3333;
    text-align: left;
    font-size: 2rem;
    line-height:24px;
    font-weight:700;
    padding-bottom: 2em;
    padding-top: 1em;
  }
  
  .card-body {
    padding: 10px;
   
  }
  
  .card-header {
    border-top:16px solid #4992ca;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    background-color:rgba(0, 0, 0, 0.03);
    padding-left: 1em;
  }
.content2_gc{
    display: flex;
    justify-content: center;
}
.card-text{
    padding-top: 1em ;
    padding-bottom:2.5em ;
}


/*============ Input Section ==========*/
.inputsection{
    background-color: #424242;
    color: #fff;
}
.is_container{
    width: 80%;
    margin: auto;
}
.is_heading{
    text-align: center;
    padding-top:2em;
}
.is_form{
    text-align: center;
    padding-bottom: 4em;
}
.submit_is{
    padding:1em 8em 1em 8em ;
    border: #fff solid 2px;
    text-decoration: none;
    background-color: #0000;
    color: #fff;
    cursor: pointer;
    border-radius:2px;
}
.is_mainheading{
    font-size: 43px;
    padding-bottom: 0.5em;
}
.input_is{
    padding-left: 0.5em;
    height:48.4px;
    width: 350px;
}
/*============ Games Section ==========*/
.gamesection{
    width: 60%;
    margin: auto;

}
.gs_mainheading{
    text-align: center;
    font-size:30px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color:#8a8a8a;
}
.gs_img1{
    height:200px;
    width:175px;
}
#gs_spcard1{
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.gs_main{
    display: flex;
}
.gs_card1{
    width: 35%;
    text-align: center;
}
.gs_heading{
    display:flex;
    padding-bottom: 2em;
    justify-content: center;
}
.gs_iconhead{
    padding-right: 0.5em;
}
.gs_content{
    padding-bottom:2em;
}
.gs_bottom{
    padding-top: 0.5em;
}
.gs_btn_main{
    border: none;
    background-color: #4992ca;
    color: #fff;
    padding: 1em 4em 1em 4em;
    cursor:pointer;
}
.gs_btn{
    padding-top: 2em;
    text-align: center; 
    padding-bottom: 1.5em;
}
/*============ Designers ==========*/
.ds_img1{
    border-radius: 50%;
    height: 150px;
}
.designers_section{
    background-color: #4992ca;
    color: #fff;
    padding-bottom: 1em;
    
}
.main_dscontainer{
    width: 80%;
    margin: auto;
}

.ds_main{
    display: flex;
    justify-content: center;
}
.ds_heading{
        text-align: center;
        padding-top:1em;
        padding-bottom:2em;
}
.ds_mainheading{
    font-size:30px;
}
.ds_img{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}
.ds_subheading{
    display: flex;
    justify-content: center;
    padding-bottom: 0.3em;
}
.ds_content{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;    
    text-align: center;
}
.ds_card1{
    padding-right: 1em;
}
.ds_subheading_sp{
    text-align: center;
    padding-bottom: 0.5em;
}


/*============ Logo section ==========*/
.logosection{
    width: 80%;
    margin: auto;
}
.logo_ls_img{
    height: 50px;
}
.ls_container{
    display: flex;
    justify-content:space-around;

}
.heading_ls,.sub_heading_ls{
    text-align: center;
    padding-top: 1em;
   
}
.heading_ls{
    font-size:30px;
    color:#8a8a8a;
}


/*============ know more section last part ==========*/

.km_main_lp{
    background-color: #4992ca;
    padding-top: 2em;
}
.know_more_lp{
    padding-top: 1em;
}
.btn_ch_lp{
    border:2px solid white;
    background-color:#0000;
    color:white;
    padding: 0.5em 5em 0.5em 5em;
    cursor:pointer;
    font-size:1rem;
}
.btn_km_lp{
    color:white;
    text-align: center;
    padding-bottom: 1em;
    font-size:45px;
}
.btn_kmcontainer_lp{
    display: flex;
    justify-content: center;
    padding-bottom:4em;
}

/*============ Footer ==========*/

.f-container{
    max-width:1170px;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}
.footer{
    background-color: black;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    text-align: center;
}
.footer-col h4{
    font-size:18px;
    color: #424242;
    margin-bottom:10px;
    font-weight:700;
    position: relative;
}
.footer-col .social-links a{
    height: 40px;
    width: 40px;
}
.footer-col li a{
    color: #fff;
}
.social-links h4{
    font-size:18px;
}
.footer-col .social-links a{
    color:#fff;
}
.footer-col li{
    padding-bottom: 0.5em;
}
.f_icon{
    padding-right:2em ;
}

/*============ Media queries =================*/


@media (max-width:730px)
{
    .overlaysection{
        display:flex;
        flex-direction:column;
    }
    .main_heading{
        font-size:65px;
        padding-left: 1.5em;
    }
    .btn_group,.main_heading,.main_content{
        float:left;
    }
    .icons{
        display:flex;
        flex-direction:column;
    }
    .parent_stat{
        display:flex;
        flex-direction:column;
    }
    .content2_gc{
        display:flex;
        flex-wrap: wrap;
    }
    .gs_main{
        display:flex;
        flex-direction:column;
    }
    .gs_card1{
        padding-bottom: 1.5em;
    }
    .gs_heading,.gs_content,.gs_img,.gs_bottom{
       position:relative;
       left: 8em;
    }
    .ds_main{
        display:flex;
        flex-direction:column;
    }
    .submit_is{
        margin-top:1em;
    }
    .container_pt1{
        display:flex;
        flex-direction:column;
    }
    
    .pb_main{
        display:flex;
        flex-direction:column;
    }
    .pb_table{
        overflow-x: scroll;
    }
    .container_poke1{
        display:flex;
        flex-direction:column;
    }
    .content{
        padding-top:2em;
    }
    .logo1{
        float: left;
    }
    .logo{
        display: inline-block;
    }
    .logo_heading{
        float:left;
    }
   



}
